html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    padding: 3em 0;
    min-height: calc(100vh - 6em);
    background-color: #c1f8cf;
}

.title {
    font-size: 2.3rem;
    font-weight: bold;
    color: #533e85;
    text-align: center;
    margin-bottom: 1em;
}

.btn-container {
    text-align: center;
    margin-bottom: 2em;
    overflow-x: auto;
    width: 100%;
    height: 48px;
    white-space: nowrap;
}

input[type="radio"] {
    display: none;
}

.menu-category {
    display: inline;
}

.menu-category:first-child {
    margin-left: 1.85em;
}

.menu-category:last-child {
    margin-right: 1.85em;
}

.menu-category + .menu-category {
    margin-left: 0.5em;
}

.filter-btn {
    cursor: pointer;
    font-size: 1.3rem;
    color: #533e85;
    display: inline-block;
    padding: 0.8em 1em;
    background-color: #fff;
    border: 2px solid #533e85;
    text-transform: capitalize;
}

input[type="radio"]:checked + .filter-btn {
    color: #fff;
    background-color: #533e85;
}

.recipe-container {
    padding: 0 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-items: center;
    grid-gap: 20px;
}

.recipe-card {
    width: 100%;
}

.recipe-img {
    display: block;
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.recipe-info {
    padding: 1.5em 1.8em;
    background-color: #fff;
    color: #533e85;
}

.recipe-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.recipe-name {
    font-size: 1.6rem;
    text-transform: capitalize;
}

.recipe-price {
    font-size: 1.35rem;
    padding: 0.2em 0 0 2em;
}

.recipe-description {
    font-size: 1.3rem;
}

@media (min-width: 768px) {
    .container {
        padding: 4em 0;
        min-height: calc(100vh - 8em);
    }
    .title {
        font-size: 2.8rem;
        margin-bottom: 0.7em;
    }
    .btn-container {
        overflow-x: unset;
        width: 70%;
        height: unset;
        white-space: unset;
        margin: 0 auto 2.5em;
    }
    .menu-category:first-child {
        margin-left: 0;
    }
    .menu-category:last-child {
        margin-right: 0;
    }
    .menu-category + .menu-category {
        margin-left: 0.8em;
    }
    .filter-btn {
        font-size: 1.5rem;
        padding: 0.8em 1.1em;
        margin-bottom: 0.8em;
    }
    .recipe-container {
        padding: 0 4em;
    }
    .recipe-info {
        padding: 2em 2.2em;
    }
    .recipe-name {
        font-size: 1.7rem;
    }
    .recipe-price {
        font-size: 1.6rem;
        padding: 0.1em 0 0 1.8em;
    }
    .recipe-description {
        font-size: 1.4rem;
    }
}
