@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 2.3rem;
    font-weight: 600;
    border-bottom: 3px solid #d2691e;
    margin-bottom: 0.7em;
}

.open-btn {
    cursor: pointer;
    display: block;
    border: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #d2691e;
    padding: 1em;
    color: #fff;
}

.overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(210, 105, 30, 0.9);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
}

.active.overlay {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    z-index: 2;
    background-color: #fff;
    width: 250px;
    padding: 1.5em 2em;
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.3);
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s ease-out;
}

.active.modal {
    transform: scale(1);
    opacity: 1;
}

.close-btn {
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    padding: 0.1em 0.45em;
    color: #fff;
    background-color: #d2691e;
    margin-bottom: 0.5em;
    float: right;
}

.modal-title {
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #d2691e;
    margin-bottom: 0.5em;
    clear: both;
}

.modal-content {
    font-size: 1.1rem;
    line-height: 1.2em;
}

@media (min-width: 576px) {
    .title {
        font-size: 3rem;
    }
    .open-btn {
        font-size: 1.4rem;
    }
    .modal {
        width: 450px;
        padding: 2.2em 2.7em;
    }
    .close-btn {
        font-size: 2rem;
        padding: 0 0.3em;
    }
    .modal-title {
        font-size: 2.2rem;
    }
    .modal-content {
        font-size: 1.4rem;
    }
}
