html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8em;
    background-color: #066163;
}

.logo-link {
    color: #f2f2f2;
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-icon,
.close-icon {
    cursor: pointer;
    font-size: 1.6rem;
    color: #f2f2f2;
}

.close-icon {
    display: inline;
    float: right;
    padding: 0.05em 0.2em;
    margin: 1.1em 1.1em 0.8em 0;
}

.nav {
    background-color: #066163;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 85%;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);
}

.show-menu {
    transform: translateX(0%);
}

.nav-list {
    clear: both;
    text-align: center;
}

.nav-item {
    cursor: pointer;
}

.nav-item {
    border-bottom: 1px solid #f2f2f2;
}

.nav-item:last-child {
    border-bottom: none;
}

.nav-item:hover,
.nav-item:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.show-animation {
    animation: animateMenu 0.3s ease-out forwards;
}

.nav-link {
    display: block;
    box-sizing: border-box;
    font-size: 1.8rem;
    height: calc((100vh - 2.9em) / 4);
    line-height: calc((100vh - 2.9em) / 4);
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0;
}

@keyframes animateMenu {
    from {
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@media (min-width: 576px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #066163;
    }
    .menu-icon,
    .close-icon {
        display: none;
    }
    .nav {
        position: unset;
        height: unset;
        transform: unset;
        width: 370px;
    }
    .nav-list {
        display: flex;
        justify-content: space-between;
        margin-right: 1.8em;
    }
    .nav-item {
        border-bottom: none;
    }
    .nav-item:hover,
    .nav-item:focus {
        background-color: unset;
    }
    .nav-link {
        height: unset;
        line-height: unset;
        opacity: 1;
    }
    .nav-link:hover,
    .nav-link:focus {
        text-decoration: underline;
    }
}
